header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-top {
    background-color: var(--third-color);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 15dvh;
}

.logo-container {
    display: flex;
    align-items: center;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    max-width: 70%;
    padding: 1%;
    margin-left: 20px;
}

.nav-down {
    background-color:var(--background-alternativo);
    padding: 10px;
    text-align: center;
    color: var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10dvh;
}

.link {
    color: var(--third-color);
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
}

.link:hover {
    color: var(--secondary-color);
}


ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo-nav:hover {
  filter: drop-shadow(0 0 0.5em #fbfbfbb7);
}

.logo-nav{
    border-radius: 50%;
    width: 80px;
    height: auto;
}

.button-cart,
.button-user{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button-cart,
.button-user a{
    color: var(--primary-color);
    text-decoration: none;
}

.button-cart:hover,
.button-user:hover {
    background-color: transparent;
}

.cart-nav i,
.user-nav i{
    font-size: 18px;
    margin-right: 10px;
}

/* Style para el Footer */
.footer {
    background-color: var(--background-alternativo);
    font-size: var(--font-size-mini);
    color: var(--third-color);
    margin: 20px 0;
    padding: 10px 0;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2%;
}

.section-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 1%;
}

.footer a {
    color: var(--third-color);
    font-size: var(--font-size-icono);
    text-decoration: none;
}

.footer a:hover {
    color: var(--secondary-color);
}

.footer img {
    min-width: 30%;
}

.mapa {
    border: 2px solid var(--third-color);
    border-radius: 5%;
    width: 75%;
    cursor: pointer;
}

.footer p {
    font-size: var(--font-size-mini);
    color: var(--third-color);
    opacity: 0.6;
    margin-top: 1%;
    font-style: italic;
    text-align: center;
}

.footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
}

.footer ul li {
    display: flex;
    align-items: center;
    gap: 5%;
    margin: 3%;
    white-space: nowrap;
}

.footer ul li a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.copyright {
    width: 100%;
    margin-top: 0;
    padding-bottom: 1%;
    text-align: center;
}

.separador {
    margin: auto;
    color: var(--third-color);
    width: 90%;
    border: 1px solid var(--third-color);
}
/* / Footer */
